body {
background-image: -webkit-linear-gradient(right, #0f0c29, #302b63, #24243e);
background-image: -moz-linear-gradient(right, #0f0c29, #302b63, #24243e);
background-image: -o-linear-gradient(right, #0f0c29, #302b63, #24243e);
background-image: linear-gradient(to left, #0f0c29, #302b63, #24243e);  
color: #f4f4f4;
  font-family: Georgia, serif;
  margin: 5% 10%
}
h1 {
  text-align: center;
  text-decoration: underline;
}
p {
  text-align: center;
  font-style: italic;
}
.exp-header {
  text-transform: uppercase;
  border-top: 1px solid #f4f4f4;
  border-bottom: 1px solid #f4f4f4;
  background-color: rgba(0,0,0, 0.2)
}
.contact-info{
  font-style: normal;
  font-size: small;
}
.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 50vh;
}
.linkedin-button {
  display: inline-block;
  padding: 10px 20px;
  background-color: #0077B5;
  color: #fff;
  text-decoration: none;
  border-radius: 5px;
  margin-top: 10px;
}
